mixin preview-tiles(...elements)
  each element in elements
    .cell.text-white.relative.flex-container.align-bottom&attributes(attributes)
      .z1.p1.pt6.w100
        h5!= element.title
        a.arrow.text-white.link-coverAll(href=element.url)!= element.linkText
      img.absolute.object-fit-cover(src="http://www.placehold.it/400x300", alt="")

mixin regions-index(...elements)
  each element in elements
    div(class="small-" + element.smColumns class="medium-" + element.mdColumns class="large-" + element.lgColumns class="p-half mb3 medium-mb0")&attributes(attributes)
      .grid-x.grid-padding-x.wh100.gradient-overlay-black-full.bg-black.hover-bg-grow.m0(data-aos="fade-up" data-aos-offset="50")
        .cell.auto.small-order-2.medium-order-1.p2.z1.text-white
          .card.p0.bd0.bg-none.flex-container.h100
            .card-section.p0
              p.mb-half.text-bold.text-spacing-1(data-aos="fade-up" data-aos-offset="50")!= element.eyebrow
              h5.text-normal(data-aos="fade-up" data-aos-offset="50")!= element.headline
            .card-divider.p0.pt1
              a.m0.small.white.button.show-for-medium.arrow.link-coverAll(href=element.url)!= element.buttonText
        img.lazyload.absolute.object-fit-cover.show-for-medium.opacity-70(data-sizes="auto" data-src=element.image alt=element.headline)

mixin insights-tile(...elements)
  each element in elements
    .cell(data-aos="fade-up" data-aos-offset="50")&attributes(attributes)
      .card.m0.p2.box-shadow-hover.flex-container.h100
        .card-section.p0
          h5!= element.title
          p!= element.description
        .card-divider.p0.pt1
          a.m0.small.button.show-for-medium.arrow.link-coverAll(href=element.url)!= element.linkText

mixin insight(...elements)
  each element in elements
    .py6&attributes(attributes)
      .grid-container
        .grid-x.grid-padding-x.align-center-middle
          .cell
            p.mb-half.text-bold.text-gray.text-spacing-1!= element.eyebrow
            h3!= element.title
          .cell
            .grid-x.grid-padding-x.grid-margin-y.medium-up-2
              each tile in element.tiles
                +insights-tile(tile)

mixin social-media(...elements)
  .flex-container
    each element in elements
      unless element.type == false
        h5
          a.mx-half(href=element.link)
            i(class=element.type)

mixin board-tile(...elements)
  each element in elements
    .cell.medium-4.medium-mb2
      .card.bd0.flex-container.h100.text-center
        .card-image
          img(src=element.image)
        .card-section.py0
          h5.medium-mt1!= element.name
          p!=element.description
        .card-divider.pt0.align-center
          unless element.linkedin == false
            a.mx-half(href=element.linkedin)
              i.logo-linkedin
          unless element.twitter == false
            a.mx-half(href=element.twitter)
              i.logo-twitter-bird

mixin white-bar(width)
  .relative.frame-bar&attributes(attributes)(class=`w${width}`)